@charset "UFT-8";

body{
    font: normal large Arial;
    background-color: rgba(245, 126, 165, 0.856);
}
h1{
    text-align: center;
    color:antiquewhite;
    padding-top: 20px;
}
img{
    width: 250x;
    height: 250px;
}

#txtano{
    width: 150px;
}

section{
    background-color: antiquewhite;
    text-align: justify;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}